*{
    margin: 0px;
    padding : 0px;
    box-sizing: border-box;
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,body{
    height: 100%;
    width : 100%;
}

#main{
    width: 100%;
    height : 100%;
    background-color: #111;
    color : white;
}

#nav a{
    color: white;
    text-decoration: none;
    margin-right: 30px;
    font-size: 25px;
}

#nav{
    padding : 10px 30px;
}

#main>h1{
    font-size: 300px;
    font-weight: 400;
    padding-left : 130px;
    position: absolute;
    bottom: 330px;
}

#bottom-left{
    position: absolute;
    bottom:20%;
    left:6%;
    width: 300px;
    
}

#bottom-left h4{
    margin-top : 50px;
    font-size: 30px;
}


#bottom-bar{
    display: flex;
    justify-content: space-between;
    position : absolute;
    width:100%;
    bottom: 0;
    left : 0;
    padding : 30px 70px;
}

#bottom-bar a{
    color: #fff;
    text-decoration: none;
    font-size : 32px;
}

#main> img{
    position : absolute;
    

}

#first{
    height:300px;
    top:55%;
    left:60%;
}

#second{
    height:300px;
    top:50%;
    left: 45%
}

#third{
    height: 250px;  
    top :50%;
    left:70%;
}
