
@import "hover_effect";
*{
    margin : 0;
    padding: 0;
    box-sizing : border-box;
}

html, body{
    height : 100%;
    width : 100%;

}


main{
    height: 100%;
    width : 100%;
    display : flex;
    gap : 10px;
    section{
        height : 100%;
        flex-grow : 1;
        background-color: rgb(136, 96, 96);
        border: 2px solid black;
        
    }
    section:nth-child(1){
        background-image: url(./media/iron_man.jpg);
        background-size: cover;
        background-position: center;
    }

    section:nth-child(2){
        background-image: url(./media/loki.jpg);
        background-size: cover;
        background-position: center;
    }

    section:nth-child(3){
        background-image: url(./media/thor.jpg);
        background-position : center;
        background-size: cover;
    }

    section:nth-child(4){
        background-image: url(./media/dr_doom.jpg);
        background-position: center;
        background-size: cover;
    }

    section:nth-child(5){
       background-image : url(./media/dead_pool.jpg);
       background-size: cover;
       background-position : center;
    }
}